[Unit]
Description=gunicorn daemon

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/ubuntu/personal-site/config/run_gunicorn.sh

[Install]
WantedBy=multi-user.target
