<html>
<head>
    {% include "common.html" %}
    {% include "modal.html" %}
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div style="text-align:center;">
        <p>(If you liked this page, then you might also like <a href="https://ekn.io/music">this page</a>)</p>
    </div>
    <div class="heading">
        <h1>(Free) Personalised life calendar generator</h1>
    </div>

    <p>Using the input fields below, enter your information and download the
    ready-to-print PDF file containing your personalised life calendar.</p>

    <div style="text-align:center;margin-bottom:1cm">
        <p><b>Ideal printing size is (23.4x33.1 inches / 594x841 millimetres / A1)</b></p>
    </div>

    {% if messages %}
        {% for message in messages %}
            <script>
            showModal('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}

    <div style="text-align:center;background-color:#eee;padding:20px 20px 20px 2px">
        <form action="/calendar/" method=post>
            {% csrf_token %}
            {% for field in form %}
            <p>{{ field.label_tag }} {{ field }}</p>
            {% endfor %}
            <input type="submit" style="margin-top:1cm" value="Download calendar"/>
        </form>
    </div>

    <p>(Want to generate life calendars offline? the python script that powers this life calendar
        generator <a target="_blank" href="https://github.com/eriknyquist/generate_life_calendar">is available here on Github</a>)</p>

    <p style="padding-top:20px">Tim Urban's original life calendars can be purchased
    <a target="_blank" href="https://store.waitbutwhy.com/products/life-calendar-24in-x-36in">here</a>.</p>

    <p>The idea behind Tim's life calendar is that each row in the grid is 52
    boxes representing a year of your life, and there are 90 rows. Essentially
    a giant rectangular grid of boxes that fits on a single large poster.</p>

    <p>The <i>problem</i> with this lovely idea is that it's quite difficult to
    actually find the box that corresponds to a specific date on this giant grid of
    blank boxes. Some annotation is required to make the calendar useful, and
    while there's plenty of space provided for this, it's a lot of work. So, when I
    discovered that I had essentially paid $20 for the opportunity to spend lots
    of time annotating a mostly blank poster, I had some ideas for extra
    features that make the calendar a bit more practical to use.</p>

	<p>Here, you can download a ready-to-print PDF of your own personalised,
    easy-to-navigate Life Calendar, in the same style as Tim's calendar but
    with some additional bells and whistles:</p>

    <ul>
        <li>The box for the first week in each row is annotated with the date
         of that week's Monday</li>

        <li>Boxes for the week of your birthday are shaded</li>

        <li>Boxes for the week of the new year are shaded darker</li>

        <li>Boxes for weeks before today's date can optionally be shaded even darker</li>

        <li>Number of calendar rows (years) is configurable between 80-100</li>
    </ul>

	<p>Unfortunately, you'll have to print it yourself; if I were to send you a
    printed one, I'd have to charge you money, and then I'd be into the poster-selling
    business, which apparently Tim and/or Tims lawyer(s) wouldn't appreciate... </p>

	{% load static %}
	<div style="text-align:center;margin-bottom:1cm">
		<img src="{% static "images/wbw_noprofit.png" %}" width="100%">
	</div>

</div>
{% include "footer.html" %}
</body>
</html>
