<html>
<head>
    {% include "common.html" %}
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div style="text-align:center;">
        <p>(If you liked this page, then you might also like <a href="https://ekn.io/calendar">this page</a>)</p>
    </div>
    <div class="heading">
        <h1>Deep Space Trader - Text based strategy game</h1>
    </div>

    {% load static %}
    <div style="text-align:center;margin-bottom:50px">
        <img src="{% static "images/deep_space_trader.png" %}" width="90%">
    </div>


    <p>Deep Space Trader is a text-based strategy game inspired by, and similar in gameplay to, the old DOS game "Drugwars".</p>

    <div style="text-align:center">
        <a target="_blank" href="https://github.com/eriknyquist/deep_space_trader/blob/master/README.rst">Learn more details about Deep Space Trader</a>
    </div>

    <br>

    <div style="text-align:center">
        <a target="_blank" href="https://github.com/eriknyquist/deep_space_trader/releases/latest">Download the Windows version of Deep Space Trader</a>
    </div>

</div>
{% include "footer.html" %}
</body>
</html>
