<div style="text-align:center;margin-top:100px;margin-bottom:75px">
{% load static %}
<footer>
    <div style="text-align:center;margin-bottom:10px">
        <a href="mailto:eknyquist@gmail.com" style="margin-right:20px"><img src="{% static "images/email.svg" %}" width="30px" height="30px"></a>
        <a href="https://github.com/eriknyquist" style="margin-right:20px" target="_blank"><img src="{% static "images/octocat.svg" %}" width="30px" height="30px"></a>
        <a href="https://www.linkedin.com/in/erik-k-nyquist-997278a1" target="_blank"><img src="{% static "images/linkedin.png" %}" width="30px" height="30px"></a>
    </div>
    <div style="text-align:center">
        Erik K. Nyquist
    </div>
    <div style="margin-top:20px;font-size:10px;text-align:center">
        <a href="https://github.com/eriknyquist/personal-site" target="_blank" >View full source for this site</a>
    </div>
</footer>
</footer>
</div>
