<html>
<head>
    {% include "common.html" %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
    function updateCounter() {
        $.getJSON('/rpm/',
            function (data) {
                document.getElementById('rpmcounter').innerHTML = data['repos_per_minute'];
        });
     }

    $(document).ready(function() {
       updateCounter();
       setInterval(updateCounter, 10000);
    });

    </script>
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div class="heading">
        <h1>Github RPM (repositories-per-minute) counter</h1>
    </div>

    <div style="text-align:center; margin-bottom:75px">
        <p>Live tracking of the rate of public repositories being created on
        github.com (updates every 30 seconds)</p>
    </div>
    <div style="text-align:center;font-size:70px" id="rpmcounter">
    </div>
    <div style="text-align:center;font-size:25px">
        <p>new public repositories per minute</p>
    </div>
</div>


<div style="text-align:center;margin-top:75px">
    <a href="https://github.com/eriknyquist/poacher">How does this work?</a>
</div>
{% include "footer.html" %}
</body>
</html>
