<style>
</style>

<div class="topnav">
	<a href="/" class="{% if request.path == '/' %}navactive{% else %}navurl{% endif %}">Home</a>&nbsp;&nbsp;&nbsp;
	<a href="/calendar/" title="Generate a personalized, printable 90-year life calendar" class="{% if request.path == '/calendar/' %}navactive{% else %}navurl{% endif %}">Life Calendars</a>&nbsp;&nbsp;&nbsp;
	<a href="/ptttl/" title="What is PTTTL? click it and find out..." class="{% if request.path == '/ptttl/' %}navactive{% else %}navurl{% endif %}">PTTTL</a>&nbsp;&nbsp;&nbsp;
	<a href="/wadenyquist/" title="First hand account of a WW2 POW" class="{% if request.path == '/wadenyquist/' %}navactive{% else %}navurl{% endif %}">POW papers</a>&nbsp;&nbsp;&nbsp;
	<a href="/millerfamilyhistory/" title="Miller family genealogy project" class="{% if request.path == '/millerfamilyhistory/' %}navactive{% else %}navurl{% endif %}">The Millers</a>&nbsp;&nbsp;&nbsp;
	<a href="/lastchance/" title="Stupid scene from a stupid movie" class="{% if request.path == '/lastchance/' %}navactive{% else %}navurl{% endif %}">Cube 2</a>&nbsp;&nbsp;&nbsp;
	<a href="/music/" title="Music that I done made" class="{% if request.path == '/music/' %}navactive{% else %}navurl{% endif %}">Music</a>
</div>
