<html>
<head>
</head>

<style>
.heading {
	text-align: center;
}

.subheading {
	text-align: left;
	margin-top: 1cm;
	margin-bottom: 1cm;
}
</style>

<body>
<div style="margin:auto;width:50%">
    {% include "header.html" %}
    <div class="heading">
        <h1>Erik Karl Nyquist</h1>
    </div>
	<div style="text-align:center">
    	<p>Software engineer and computer nerd from Nebraska, living in California</p>
	</p>

	{% load static %}

	<div style="text-align:center">
		<img src="https://imgs.xkcd.com/comics/algorithms.png" width="100%">
	</div>

	<div style="text-align:center">
        <img src="{% static "images/shoulders.gif" %}" width="40%">
        <img src="{% static "images/shoulders2.gif" %}" width="40%">
    </div>

    {% include "footer.html" %}
</div>
</body>
</html>
