<html>
<head>
</head>

<style>
.heading {
	text-align: center;
}

.subheading {
	text-align: left;
	margin-top: 1cm;
	margin-bottom: 1cm;
}
</style>

<body>
<div style="margin:auto;width:50%">
    {% include "header.html" %}
    <div class="heading">
        <h1>Erik Karl Nyquist</h1>
    </div>
    <p>Software engineer and computer nerd from Nebraska, living in California.
    An XKCD comic about algorithm complexity and Nebraska is somewhat appropriate:</p>
	<div style="text-align:center">
		<img src="https://imgs.xkcd.com/comics/algorithms.png">
	</div>
    {% include "footer.html" %}
</div>
</body>
</html>
