<html>
<head>
    {% include "common.html" %}
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div class="heading">
        <h1>Erik Karl Nyquist</h1>
    </div>
	<div style="text-align:center">
    	<p>Software/firmware engineer, specialising in C and C++ for embedded
        devices (bare-metal, RTOS, or Linux-based), and Python for general fun
        stuff</p>
	</p>

    <br>

    <div style="text-align:center;font-size:24px">
        <a target="_blank" href="/resume/">Download Erik's Resume/CV</a>
    </div>

	{% load static %}

	<div style="text-align:center;margin-top:50px">
		<img src="https://imgs.xkcd.com/comics/real_programmers.png" width="100%">
	</div>

</div>
{% include "footer.html" %}
</body>
</html>
