<html>
<head>
    {% include "common.html" %}
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div class="heading">
        <h1>Miller Family History</h1>
    </div>

    {% load static %}
    <div style="text-align:center;margin-bottom:50px">
        <img src="{% static "images/marion.jpg" %}" width="50%">
    </div>

    <p>My Grandmother, Marion Joanne Miller Eitemiller, took on this genealogy
    research project in earnest after her husband Bill (my Grandfather) died on New Years Eve 2016.
    <p>

    <p>Marion cherishes a lifetime of many memories: her own recollection of her grandparents,
    her parents and various aunts, uncles and cousins are vivid, occasionally mysterious and
    often entertaining.</p>

    <div style="text-align:center">
        <a target="_blank" href="/millerfamilyhistory_pdf/">Download the Miller Family History (PDF, 21MB)</a>
    </div>

</div>
{% include "footer.html" %}
</body>
</html>
