<html>
<head>
    {% include "common.html" %}
{% load static %}
</head>


<body>
{% include "header.html" %}
<div class="main", style="text-align:center;">
    <div class="heading">
        <h1>Music!</h1>
    </div>
    <br>
    <div class="heading">
        <h2>Recording project</h2>
    </div>

    <p>I play drums, as well as record and produce music, for a band called
    <a href="https://open.spotify.com/artist/5ZzKR8YUhrhKtaUuMT6J4c?si=f56ababf57c54020">Highline Trail</a>:</p>
    <br>

    <div style="text-align:center;">
    <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=1002449623/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/track/emmie">Emmie by Highline Trail</a></iframe>

    <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=2109931864/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/track/bargain-bin">Bargain Bin by Highline Trail</a></iframe>

    <iframe style="border: 0; width: 350px; height: 442px;" src="https://bandcamp.com/EmbeddedPlayer/track=698193040/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/track/out-of-time">Out Of Time by Highline Trail</a></iframe>

    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2625153899/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=3697879978/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/album/pegleg">Pegleg by Highline Trail</a></iframe>

    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2625153899/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=3308386217/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/album/pegleg">Pegleg by Highline Trail</a></iframe>

    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2625153899/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=400701749/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/album/pegleg">Pegleg by Highline Trail</a></iframe>

    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2625153899/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/track=2270097083/transparent=true/" seamless><a href="https://highlinetrail.bandcamp.com/album/pegleg">Pegleg by Highline Trail</a></iframe>
    </div>
    <br>

    <div style="text-align:center;">
        <p>As well as Bandcamp, you can find us in all the other usual places...</p>
        <br>
        <p>Highline Trail on <a href="https://open.spotify.com/artist/5ZzKR8YUhrhKtaUuMT6J4c?si=f56ababf57c54020">Spotify</a>!</p>
        <p>Highline Trail on <a href="https://music.apple.com/us/artist/highline-trail/1565895020">Apple Music</a>!</p>
        <p>Highline Trail on <a href="https://music.amazon.com/artists/B0943DY2G2/highline-trail?marketplaceId=ATVPDKIKX0DER&musicTerritory=US&ref=dm_sh_FS9BTuYA7Io7R1bQkyOiiEVON">Amazon Music</a>!</p>
        <p>Highline Trail on <a href="https://www.youtube.com/channel/UCF1Wtfd7GivdFfqISc8sztw">Youtube</a>!</p>
        <p>Highline Trail on <a href="https://pandora.app.link/t1NAj4Omjkb">Pandora</a>!</p>
        <br>
        Contact Highline Trail at <b>highlinetrailmusic@gmail.com</b>.
    </div>

    <br>
    <div class="heading">
        <h2>Personal soundcloud page</h2>
    </div>
    <div style="text-align:center;">
        <p>My <a href="https://soundcloud.com/eriknyquist">Soundcloud account</a>. Full of unfinished/old/bad/silly personal projects.</p>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
