<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
    {% include "modal.html" %}

    <script>
    var samples = {};

    samples["monty"] = "MontyPythonTheme:d=4,o=5,b=200:f6,8e6,d6,8c#6,c6,8b," +
        "a#,8a,8g,8a,8a#,a,8g,2c6,8p,8c6,8a,8p,8a,8a,8g#,8a,8f6,8p,8c6,8c6," +
        "8p,8a,8a#,8p,8a#,8a#,8p,8c6,2d6,8p,8a#,8g,8p,8g,8g,8f#,8g,8e6,8p," +
        "8d6,8d6,8p,8a#,8a,8p,8a,8a,8p,8a#,2c6,8p,8c6";

    samples["flute"] = "Flute:d=4,o=5,b=160:32a.,16g,16a,16a#,8c6,8c6,8c6," +
        "8c6,8c6,8c6,8c6,8c6,f.,p.,32f.,16e,16f,16g,8a,8a,8a,8a,8a,8a,8a," +
        "8a,d.,p.,32d.,16c,16d,16e,8f,8f,8f,8c,8g,8g,8g,8c,8a,8f,8a,8c6,8f6," +
        "8c6,8d6,8a#,8c6,8f,8a,8c6,8f6,8c6,8d6,8a#,c6,p,f.,8f,a4,p,e,p,8f," +
        "8g,8f,8a,8a#,8a,8f,8g,8f,8d,8e,8d,8c#,8d,8c#,8a4,8b4,8a4,8c#,8d," +
        "8c#,8e,8f,8e,8f,8g,8f,8a,8a#,8a,8f,8g,8f,8d,8e";

    samples["undersea"] = "UnderTheSea:d=4,o=5,b=200:8d,8f,8a#,d6,d6,8a#," +
        "c6,d#6,d6,a#,8a#4,8d,8f,a#,a#,8c,a,c6,a#,p,8d,8f,8a#,d6,d6,8a#,c6," +
        "d#6,d6,a#,8a#4,8d,8f,a#,a#,8c,a,c6,16a#,16d,16a#,16d,16a#,16d,16a#";

    samples["mkombat"] = "mkombat:d=4,o=5,b=70:16a#,16a#,16c#6,16a#,16d#6," +
        "16a#,16f6,16d#6,16c#6,16c#6,16f6,16c#6,16g#6,16c#6,16f6,16c#6,16g#," +
        "16g#,16c6,16g#,16c#6,16g#,16d#6,16c#6,16f#,16f#,16a#,16f#,16c#6," +
        "16f#,16c#6,16c6";

    samples["mimp"] = "MissionImpossible:d=32,o=5,b=125:d6,d#6,d6,d#6,d6,d#6," +
        "d6,d#6,d6,d#6,d6,d#6,d6,d#6,d6,d#6,d6,d#6,d6,d#6,e6,f#6,d#6,8g.6," +
        "8g.,8g.,8a#,8c6,8g.,8g.,8f,8f#,8g.,8g.,8a#,8c6,8g.,8g.,8f,8f#,16a#6," +
        "16g6,2d6,16a#6,16g6,2c#6,16a#6,16g6,2c6,16a#,8c.6,4p,16a#,16g,2f#6," +
        "16a#,16g,2f6,16a#,16g,2e6,16d#6,8d.6";

    samples["blue"] = "Blue:d=8,o=5,b=140:a,a#,d,g,a#,c6,f,a,4a#,g,a#,d6,d#6," +
        "g,d6,c6,a#,d,g,a#,c6,f,a,4a#,g,a#,d6,d#6,g,d6,c6,a#,d,g,a#,c6,f,a," +
        "4a#,g,a#,d6,d#6,g,d6,c6,a#,d,g,a#,a,c,f,2g";

    samples["poly1"] = `All Star but it's a Bach chorale:
d=4,o=5,b=40:

#some   bo  -   dy      once    told    me      the     world   was     go -

16g3.,  32g3.,  32g3.,  16g3.,  32f#.,  32g.,   32g.,   16a3.,  32g#.,  32g#. |
16g.,   32g.,   32g.,   16d.,   32a3.,  32b3.,  32b3.,  16a.,   32b.,   32b.  |
16g4.,  32d.6,  32b.,   16g.,   32a.,   32d.,   32d.,   16e.,   32b3.,  32b3. |
16g4.,  32b.4,  32d.,   16b.,   32d.,   32d.,   32d.,   16c6.,  32d.,   32d.  ;



#-na    roll    me,     I       aint    the     sharp - est     tool    in

32a.,   32a.,   16g.,   32g.,   32g.,   32g.,   32g.,   32f#.,  32d#4., 32g.  |
32c4.,  32c4.,  16e.,   32c.,   32d6.,  32b.,   32d4.,  32d4.,  32f#.,  32e4. |
32e.,   32e.,   16e4.,  32c4.,  32b3.,  32c4.,  32b.,   32c.,   32a.,   32b.4 |
32e.,   32e.,   16c.,   32e.,   32d.,   32d.,   32d.,   32a.,   32c.,   32e.  ;



#the    she  -  ed,             she     was     loo  -  king    kind    of

32g.,   16c4.,  32a3.,  8p.,    32g.,   32g.,   32g3.,  32g3.,  32g3.,  32f#. |
32d4.,  16e.,   32d.,   8p.,    32g4.,  32g4.,  32g.,   32g.,   32g.,   32a3. |
32b.4,  16c.,   32f#4., 8p.,    32b3.,  32a3.,  32b4.,  32b.,   32b.,   32a.  |
32e.,   16g4.,  32a4.,  8p.,    32d.,   32d.,   32d6.,  32d.,   32d.,   32d.  ;



#dumb   with    her     fing  - er      and     her     thumb   in      the

32g.,   32g.,   32g.,   16a4.,  32b.,   32b.,   32a.,   32a3.,  32g.,   32g.  |
32a.,   32b3.,  32e4.,  16e.,   32g#4., 32g#4., 32c.,   32c.,   32b4.,  32c.  |
32b3.,  32d.,   32b4.,  16c6.,  32e.,   32e.,   32e.,   32a.,   32c4.,  32c4. |
32d.,   32d.,   32e.,   16c6.,  32d.,   32d.,   32a4.,  32e.,   32e.,   32e.  ;



#shape  of      an      L       on      her     for  -  head

16g.,   32g.,   32g.,   16a.,   32g.,   32g.,   16a.,   32a4. |
16d.,   32b.,   32d4.,  16f#.,  32e4.,  32e4.,  16a4.,  32d.  |
16d6.,  32c4.,  32b.,   16c.,   32b4.,  32b4.,  16f#.,  32e.  |
16b3.,  32d.,   32d.,   16d#4., 32e.,   32e.,   16c.,   32e.
`;

    samples["auld"] = "AuldLangSyne:d=4,o=5,b=100:g,c.6,8c6,c6,e6,d.6,8c6,d6," +
        "8e6,8d6,c.6,8c6,e6,g6,2a.6,a6,g.6,8e6,e6,c6,d.6,8c6,d6,8e6,8d6,c.6," +
        "8a,a,g,2c.6";

    samples["none"] = "";

    function selectsample(sample) {
        var e = document.getElementById("ptttl");
        e.value = samples[sample];
    }

    function exclusiveClick(box, other) {
        var value = true

        if (box.checked) {
            value = false;
        }

        document.getElementById(other).checked = value;
    }
    </script>
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div class="heading">
        <h1>Convert RTTTL to .wav and .mp3 audio</h1>
    </div>

    <p>RTTTL (Ring Tone Text Transfer Language) is a method of storing
    monophonic melodies in simple text files, used in old Nokia phones to
    describe ringtones. If you want to convert RTTTL ringtone files into MP3/WAV
    audio files for use on a modern smartphone (complete with authentic
    shitty-sounding beeps), you can do it here.</p>

    <p>Paste the contents of an RTTTL file below (or select one of the built-in
    examples) to download an mp3 audio file that plays the tones dscribed in the
    RTTTL text you provided. The tones generated have a very slight attack/decay
    to avoid nasty clicks and pops. (also converts PTTTL, which is my hacky
    extension of RTTTL that allows polyphony, scroll down for a full
    description)</p>

    {% if messages %}
        {% for message in messages %}
            <script>
            showModal('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}

    <div style="margin-top:40px;padding:20px 20px 20px 20px;background-color:#eee">
        <form action="/ptttl/" method=post>
            <div style="text-align:center;padding-bottom:25px">
                <label>Sample RTTTL file: <select id="sampleselector" onchange="selectsample(this.value)">
                    <option selected="selected" value="none">None</option>
                    <option value="mkombat">Mortal Kombat</option>
                    <option value="blue">Blue</option>
                    <option value="mimp">Mission Impossible</option>
                    <option value="monty">Monty Python theme</option>
                    <option value="undersea">Under the sea</option>
                    <option value="auld">Auld lang syne</option>
                    <option value="flute">Flute</option>
                    <option value="poly1">Polyphonic example</option>
                </select></label>
            </div>

            <div style="display:table;margin:0 auto">
            <div style="margin-bottom:15px;background-color:#ccc;overflow:hidden;display:table">
                <div style="float:left;padding-right:30px">
                    {{ form.sine }}
                    <label for="sine">Sine wave</label>
                </div>

                <div style="float:left">
                    {{ form.square }}
                    <label for="square">Square wave</label>
                </div>
            </div>
            </div>

            <div style="display:table;margin:0 auto">
            <div style="margin-bottom:15px;background-color:#ccc;overflow:hidden;display:table">
                <div style="float:left;padding-right:30px">
                    {{ form.wav }}
                    <label for="wav">.wav file</label>
                </div>

                <div style="float:left">
                    {{ form.mp3 }}
                    <label for="mp3">.mp3 file</label>
                </div>
            </div>
            </div>

            {% csrf_token %}
            {{ form.ptttl }}

            <div style="text-align:center;padding-top:10px">
                <input type="submit" value="Download audio file"/>
            </div>

        </form>
    </div>

    <div class="heading">
        <h1>Code</h1>
    </div>

    <p>The code used for PTTTL/RTTTL parsing and audio generation can be found
     on github:</p>

    <a target="_blank" href="https://github.com/eriknyquist/ptttl">https://github.com/eriknyquist/ptttl</a>

    <div class="heading">
        <h1>Polyphonic Tone Text Transfer Language (PTTTL)</h1>
    </div>

    <p>The Polyphonic Tone Text Transfer Language (PTTTL) is a way to describe
    polyphonic melodies in a plain text file. PTTTL is a superset of Nokia's
    <a target="_blank" href="https://en.wikipedia.org/wiki/Ring_Tone_Transfer_Language">RTTTL</a>
    format, used for monophonic ringtones.</p>

    <div class="subheading">
        <h2>Why?</h2>
    </div>

    <p>I needed a good way to store simple tones and melodies for some project.
    RTTTL looked pretty good but only works for monophonic melodies.
    I needed polyphony.</p>

    <div class="heading">
        <h1>PTTTL format</h1>
    </div>

    <p>Valid RTTTL strings are also valid PTTTL strings. A parser that properly handles
    PTTTL can also handle RTTTL.</p>

    <p>A PTTTL string is made up of three colon-seperated sections; the <b>name</b>
    section, the <b>default values</b> section, and the <b>data</b> section.</p>

    <p>Whitespace characters, empty lines, and lines beginning with a "#" character
    are ignored.</p>

    <p>The initial "name" section is intended to contain the name of the ringtone
    in the original RTTTL format. PTTTL requires this field to be present, to
    maintain backwards compatibility with RTTTL, but places no constraints on its
    contents.</p>

    <div class="subheading">
        <h2>Default values section</h2>
    </div>

    <p>The very first statement is the <b>default values</b> section and is identical to
    the section of the same name from the RTTTL format.</p>

    <div class="subheading">
        <h3>Example</h3>
    </div>

    <div class="codeblock">
        <code>b=123, d=8, o=4</code>
    </div>

    <div class="subheading">
        <h3>Default values specification</h3>
    </div>

    <ul>
        <li><b>b</b> - beat, tempo: tempo in BPM (Beats Per Minute)</li>
        <li><b>d</b> - duration: default duration of a note if none is specified</li>
        <li><b>o</b> - octave: default octave of a note if none is specified</li>
    </ul>

    <div class="subheading">
        <h2>Data section</h2>
    </div>

    <p>The PTTTL data section is just like the RTTTL data section, in that a melody
    consists of multiple comma-seperated notes to be played sequentially. Unlike
    RTTTL, PTTTL allows multiple melodys to be defined, separated by the vertical
    pipe character ``|``, all of which will be played in unison.</p>

    <p>The format of a note is identical to that described by the RTTTL format. Each
    note includes, in sequence; a duration specifier, a standard music note, either
    a, b, c, d, e, f or g (optionally followed by '#' or 'b' for sharps and flats),
    and an octave specifier. If no duration or octave specifier are present, the
    default applies.</p>

    <div class="subheading">
        <h3>Durations</h3>
    </div>

    <p>Valid values for note duration are:</p>

    <ul>
    <li><b>1</b> - whole note</li>
    <li><b>2</b> - half note</li>
    <li><b>4</b> - quarter note</li>
    <li><b>8</b> - eighth note</li>
    <li><b>16</b> - sixteenth note</li>
    <li><b>32</b> - thirty-second note</li>
    </ul>

    <p>Dotted rhythm patterns can be formed by adding a period "." either
    after the note letter (e.g. "c#.", or "c#.5"), or after the octave
    number (e.g. "c#5.")</p>

    <div class="subheading">
        <h3>Notes</h3>
    </div>

    <p>Valid values for note pitch (non case-sensitive):</p>

    <ul>
        <li><b>P</b> - rest or pause</li>
        <li><b>A</b></li>
        <li><b>A#</b> / <b>Bb</b></li>
        <li><b>B</b> / <b>Cb</b></li>
        <li><b>C</b></li>
        <li><b>C#</b> / <b>Db</b></li>
        <li><b>D</b></li>
        <li><b>D#</b> / <b>Eb</b></li>
        <li><b>E</b> / <b>Fb</b></li>
        <li><b>F</b> / <b>E#</b></li>
        <li><b>F#</b> / <b>Gb</b></li>
        <li><b>G</b></li>
        <li><b>G#</b> / <b>Ab</b></li>
    </ul>

    <div class="subheading">
        <h3>Octave</h3>
    </div>

    <p>Valid values for note octave are between <b>0</b> and <b>8</b>.</p>

    <div class="heading">
        <h3>Example</h3>
    </div>

    <p>Consider the following PTTTL string:</p>

    <div class="codeblock">
<code>
# 123 beats-per-minute, default quarter note, default 4th octave
Test Melody:
b=123, d=4, o=4:

16c, 8p, 16c | 16e, 8p, 16e | 16g5, 8p, 16g5
</code>
    </div>

    <p>This would play 3 sixteenth notes simultaneously (C, octave 4; E, octave 4;
    G, octave 5), followed by an eighth note rest, followed by the same
    three sixteenth notes again</p>

    <p>Note that the above sample is much easier to read if we put each melody
    on a new line and align the notes in columns. This is the recommended way
    to write PTTTL:</p>

    <div class="codeblock" style="margin-bottom:50px">
<code>
# Nicely aligned
Test Melody:
b=123, d=4, o=4:

16c,  8p,  16c  |
16e,  8p,  16e  |
16g5, 8p,  16g5
</code>
    </div>

    <p>In order to keep things readable for large PTTTL files with multiple
    concurrent tracks, a semicolon character "<b>;</b>" can be used to further
    break up melodies into more practical blocks. Just as the veritcal pipe
    character "<b>|</b>" seperates <i>concurrent</i> tracks within a single
    melody, the semicolon character seperates multiple <i>sequential</i>
    melodies within a single data section. Melodies seperated by semicolons will be stitched
    together, one after the other, in the final output.</p>

    <p>Select the "Polyphonic example" sample file in the RTTTL/PTTTL-to-mp3
    encoder at the top of this page to see a large polyphonic melody that uses
    the semicolon character to help maintain readability.</p>

    {% include "footer.html" %}
</body>
</html>
