<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/common.css" %}">
    {% include "modal.html" %}

    <script>
    var samples = {};

    samples["monty"] = "MontyPythonTheme:d=4,o=5,b=200:f6,8e6,d6,8c#6,c6,8b," +
        "a#,8a,8g,8a,8a#,a,8g,2c6,8p,8c6,8a,8p,8a,8a,8g#,8a,8f6,8p,8c6,8c6," +
        "8p,8a,8a#,8p,8a#,8a#,8p,8c6,2d6,8p,8a#,8g,8p,8g,8g,8f#,8g,8e6,8p," +
        "8d6,8d6,8p,8a#,8a,8p,8a,8a,8p,8a#,2c6,8p,8c6";

    samples["flute"] = "Flute:d=4,o=5,b=160:32a.,16g,16a,16a#,8c6,8c6,8c6," +
        "8c6,8c6,8c6,8c6,8c6,f.,p.,32f.,16e,16f,16g,8a,8a,8a,8a,8a,8a,8a," +
        "8a,d.,p.,32d.,16c,16d,16e,8f,8f,8f,8c,8g,8g,8g,8c,8a,8f,8a,8c6,8f6," +
        "8c6,8d6,8a#,8c6,8f,8a,8c6,8f6,8c6,8d6,8a#,c6,p,f.,8f,a4,p,e,p,8f," +
        "8g,8f,8a,8a#,8a,8f,8g,8f,8d,8e,8d,8c#,8d,8c#,8a4,8b4,8a4,8c#,8d," +
        "8c#,8e,8f,8e,8f,8g,8f,8a,8a#,8a,8f,8g,8f,8d,8e";

    samples["undersea"] = "UnderTheSea:d=4,o=5,b=200:8d,8f,8a#,d6,d6,8a#," +
        "c6,d#6,d6,a#,8a#4,8d,8f,a#,a#,8c,a,c6,a#,p,8d,8f,8a#,d6,d6,8a#,c6," +
        "d#6,d6,a#,8a#4,8d,8f,a#,a#,8c,a,c6,16a#,16d,16a#,16d,16a#,16d,16a#";

    samples["poly1"] = "TestMelody:d=8, o=4, b=123:\n8c4|8e4|16c5,8p,8d4|8f," +
        "8e4|8g4,16c5,16p,8d4|8f4,8c4|8e4,8p,16c4|16e4|16c5,16p,8c4|8e4," +
        "8d|8f,8e|8g,16c5,16p,8d|8f,8c|8e,8p";

    samples["auld"] = "AuldLangSyne:d=4,o=5,b=100:g,c.6,8c6,c6,e6,d.6,8c6,d6," +
        "8e6,8d6,c.6,8c6,e6,g6,2a.6,a6,g.6,8e6,e6,c6,d.6,8c6,d6,8e6,8d6,c.6," +
        "8a,a,g,2c.6";

    samples["none"] = "";

    function selectsample(sample) {
        var e = document.getElementById("ptttl");
        e.value = samples[sample];
    }
    </script>
</head>

<body>
{% include "header.html" %}
<div class="main">
    <div class="heading">
        <h1>RTTTL-to-mp3 converter</h1>
    </div>

    <p>Paste the contents of an RTTTL file here (or select one of the examples
    from the drop-down list) to download an mp3 audio file that plays the
    tones dscribed in the RTTTL text you provided. The audio generated is
    nothing fancy, just simple sine waves with a very slight attack/decay to
    avoid nasty clicks and pops. (also converts PTTTL, which is my hacky
    extension of RTTTL that allows polyphony, scroll down for a full
    description)</p>

    {% if messages %}
        {% for message in messages %}
            <script>
            showModal('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}

    <div style="padding:20px 20px 20px 20px;background-color:#eee">
        <form action="/ptttl/" method=post>
            <div style="text-align:center;padding-bottom:10px">
                <label>Sample RTTTL file: <select id="sampleselector" onchange="selectsample(this.value)">
                    <option selected="selected" value="none">None</option>
                    <option value="monty">Monty Python theme</option>
                    <option value="undersea">Under the sea</option>
                    <option value="auld">Auld lang syne</option>
                    <option value="flute">Flute</option>
                    <option value="poly1">Polyphonic example</option>
                </select></label>
            </div>

            {% csrf_token %}
            {{ form.ptttl }}

            <div style="text-align:center;padding-top:10px">
                <input type="submit" value="Generate MP3"/>
            </div>
        </form>
    </div>

    <div class="heading">
        <h1>Code</h1>
    </div>

    <p>The code used for PTTTL/RTTTL parsing and audio generation can be found
     on github:</p>

    <a target="_blank" href="https://github.com/eriknyquist/ptttl">https://github.com/eriknyquist/ptttl</a>

    <div class="heading">
        <h1>Polyphonic Tone Text Transfer Language (PTTTL)</h1>
    </div>

    <p>The Polyphonic Tone Text Transfer Language (PTTTL) is a way to describe
    polyphonic melodies in a plain text file. PTTTL is a superset of Nokia's
    <a target="_blank" href="https://en.wikipedia.org/wiki/Ring_Tone_Transfer_Language">RTTTL</a>
    format, used for monophonic ringtones.</p>

    <div class="subheading">
        <h2>Why?</h2>
    </div>

    <p>I needed a good way to store simple tones and melodies for some project.
    RTTTL looked pretty good but only works for monophonic melodies.
    I needed polyphony.</p>

    <div class="heading">
        <h1>PTTTL format</h1>
    </div>

    <p>Valid RTTTL strings are also valid PTTTL strings. A parser that properly handles
    PTTTL can also handle RTTTL.</p>

    <p>A PTTTL string is made up of three colon-seperated sections; the <b>name</b>
    section, the <b>default values</b> section, and the <b>data</b> section.</p>

    <p>Whitespace characters, empty lines, and lines beginning with a "#" character
    are ignored.</p>

    <p>The initial "name" section is intended to contain the name of the ringtone
    in the original RTTTL format. PTTTL requires this field to be present, to
    maintain backwards compatibility with RTTTL, but places no constraints on its
    contents.</p>

    <div class="subheading">
        <h2>Default values section</h2>
    </div>

    <p>The very first statement is the <b>default values</b> section and is identical to
    the section of the same name from the RTTTL format.</p>

    <div class="subheading">
        <h3>Example</h3>
    </div>

    <div class="codeblock">
        <code>b=123, d=8, o=4</code>
    </div>

    <div class="subheading">
        <h3>Default values specification</h3>
    </div>

    <ul>
        <li><b>b</b> - beat, tempo: tempo in BPM (Beats Per Minute)</li>
        <li><b>d</b> - duration: default duration of a note if none is specified</li>
        <li><b>o</b> - octave: default octave of a note if none is specified</li>
    </ul>

    <div class="subheading">
        <h2>Data section</h2>
    </div>

    <p>Like RTTTL, the data section in a PTTTL string contains comma-seperated values.
    <i>Unlike</i> RTTTL, where only single notes are separated by commas, the comma
    seperated values in PTTTL are <i>time slots</i>, where each time slot may contain one
    or more notes. Multiple notes in a time slot are separated by a vertical pipe
    character "|".</p>

    <p>Each note in a time slot starts playing simultaneously, and each
    will stop when its respective duration has elapsed. The current time slot
    ends when the duration of the longest note has elapsed. A time slot can last
    for the length of a single measure (4 beats), at most.</p>

    <p>The format of a note is identical to that described by the RTTTL format. Each
    note includes, in sequence; a duration specifier, a standard music note, either
    a, b, c, d, e, f or g (optionally followed by '#' or 'b' for sharps and flats),
    and an octave specifier. If no duration or octave specifier are present, the
    default applies.</p>

    <div class="subheading">
        <h3>Durations</h3>
    </div>

    <p>Valid values for note duration are:</p>

    <ul>
    <li><b>1</b> - whole note</li>
    <li><b>2</b> - half note</li>
    <li><b>4</b> - quarter note</li>
    <li><b>8</b> - eighth note</li>
    <li><b>16</b> - sixteenth note</li>
    <li><b>32</b> - thirty-second note</li>
    </ul>

    <p>Dotted rhythm patterns can be formed by adding a period "." either
    after the note letter (e.g. "c#.", or "c#.5"), or after the octave
    number (e.g. "c#5.")</p>

    <div class="subheading">
        <h3>Notes</h3>
    </div>

    <p>Valid values for note pitch (non case-sensitive):</p>

    <ul>
        <li><b>P</b> - rest or pause</li>
        <li><b>A</b></li>
        <li><b>A#</b> / <b>Bb</b></li>
        <li><b>B</b> / <b>Cb</b></li>
        <li><b>C</b></li>
        <li><b>C#</b> / <b>Db</b></li>
        <li><b>D</b></li>
        <li><b>D#</b> / <b>Eb</b></li>
        <li><b>E</b> / <b>Fb</b></li>
        <li><b>F</b> / <b>E#</b></li>
        <li><b>F#</b> / <b>Gb</b></li>
        <li><b>G</b></li>
        <li><b>G#</b> / <b>Ab</b></li>
    </ul>

    <div class="subheading">
        <h3>Octave</h3>
    </div>

    <p>Valid values for note octave are between <b>0</b> and <b>8</b>.</p>

    <div class="subheading">
        <h3>Example</h3>
    </div>

    <p>Consider the following PTTTL string:</p>

    <div class="codeblock">
<code>
# 123 beats-per-minute, default quarter note, default 4th octave
Test Melody:
b=123, d=4, o=4:

16c|16e|16g5,
8p,
16c|16e|16g5
</code>
    </div>

    <p>This would play 3 sixteenth notes simultaneously (C, octave 4; E, octave 4;
    G, octave 5), followed by an eighth note rest, followed by the same
    three sixteenth notes again</p>

    {% include "footer.html" %}
</body>
</html>
